.container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.horizontal-chart {
    
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1em;
    border-radius: 5px;
    background-color: var(--dark-bg);
}

