.top-box h3 {
    margin-bottom: 1em;
}

.top-box .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-box .item {
    display: flex;
    gap: 1em;
}

.top-box .item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.top-box .item-texts {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.top-box .item-texts .details {
    font-size: .8em;
    font-weight: 500;
}