.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.navbar .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .icons .user {
    display: flex;
    align-items: center;
}

.navbar .icon .user img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}