.showCard {
    height: 12em;
    width: 100%;
    min-width: 20rem;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    background: var(--dark-bg);
    border-radius: 1rem;
}

.showCard img {
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.showDetails {
    height: 100%;
    padding: .3em 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.showDetails .showName {
    font-weight: 600;
    font-size: 1.5em;
}

.showDetails p {
    color: #aaa6b8;
}